{% extends "AppComunidad/padrecomunidad.html" %}
{% load static %}

{% block titulo %} Contenido Publicado {% endblock %}

{% block contenido_comunidad %}

<h1>Contenido de la Comunidad</h1>

<ul>
    {% for publicacion in publicaciones %}
    <li>
        <strong>{{ publicacion.titulo }}</strong><br>
        {{ publicacion.contenido }}<br>
        <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" width="120px"><br>
        <a href="{% url 'editar_seccion' publicacion.id %}" class="btn btn-warning">Editar Blog</a>
        <a href="{% url 'eliminar_seccion' publicacion.id %}" class="btn btn-danger">Eliminar Blog</a>
    </li>
    {% empty %}
    <p>No hay publicaciones</p>
    {% endfor %}
</ul>

<a href="{% url 'crearblog' %}" class="btn btn-success">Crear publicación</a>

{% endblock %}