{% extends "AppComunidad/padrecomunidad.html" %} {% load static %} {% block titulo %} Contenido Publicado {% endblock %} {% block contenido_comunidad %}

<article class="mb-4" style="margin: 20px">
    <!-- Post header -->
    <header class="mb-4">
        <!-- Post title -->
        <h1 class="fw-bolder mb-1">{{ publicacion.titulo }}</h1>
        <br>
        <br>
        <a class="btn btn-outline-success btn-block" href="{% url 'contenidohome' %}"> Volver Atrás </a>
        <br>
        <br>
        {% if user.is_authenticated %} {% if es_autor %}
        <ul>
            <li>
                <a href="{% url 'editar_seccion' comunidad_id=publicacion.id %}" class="btn btn-warning">Editar Blog</a>
                <a href="{% url 'eliminar_seccion' comunidad_id=publicacion.id %}" class="btn btn-danger">Eliminar Blog</a>
            </li>
        </ul>
        {% endif %} {% endif %}
        <!-- Post meta content -->
        <div class="text-muted fst-italic mb-2">Posted on {{ publicacion.fecha_publicacion }} by {{ publicacion.autor }}</div>
    </header>
    <!-- Preview image figure -->
    <figure class="mb-4">
        <img class="img-fluid rounded" src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" style="max-width: 100%; height: auto; max-height: 300px" />
    </figure>
    <!-- Post content -->
    <section class="mb-5">{{ publicacion.contenido | safe }}</section>
    <!-- Post Price -->
    <section class="mb-4">
        <p>Precio ${{ publicacion.precio | safe }}</p>
    </section>
</article>

<!-- Comment form-->
<form class="mb-4 comentario-form" style="width: 70%" method="POST">
    {% csrf_token %}
    <textarea class="form-control" name="contenido" rows="3" placeholder="Realiza tus consultas al vendedor!"></textarea>
    <button type="submit" class="btn btn-primary">Publicar Comentario</button>
</form>
<style>
    .comentario-form {
        margin-top: 20px;
    }
</style>
<!-- Comment section -->
<section class="mb-5" style="width: 70%">
    <div class="card bg-light">
        <div class="card-body">
            {% for comentario_principal in comentarios_principales %}
            <!-- Comentario principal -->
            <div class="d-flex mb-4">
                <div class="flex-shrink-0">
                    {% if comentario_principal.avatar %}
                    <img class="rounded-circle" src="{{ comentario_principal.avatar.url }}" alt="Avatar de usuario" style="width: 30px" />
                    {% else %}
                    <!-- Puedes mostrar un avatar predeterminado aquí si lo deseas -->
                    <img class="rounded-circle" src="{% static 'avatars/avatar-predeterminado.png' %}" alt="Avatar de usuario predeterminado" />
                    {% endif %}
                </div>
                <div class="ms-3">
                    <div class="fw-bold">{{ comentario_principal.autor.username }}</div>
                    {{ comentario_principal.contenido }}
                    <small class="text-muted">Publicado el {{ comentario_principal.fecha }}</small>
                </div>
            </div>

            <!-- Respuestas anidadas -->
            {% for respuesta in comentario_principal.respuestas.all %}
            <div class="d-flex mb-4 ms-5 mt-4">
                <div class="flex-shrink-0">
                    {% if respuesta.avatar %}
                    <img class="rounded-circle" src="{{ respuesta.avatar.url }}" alt="Avatar de usuario" style="width: 20px" />
                    {% else %}
                    <!-- Intento de avatar predeterminado -->
                    <img class="rounded-circle" src="{% static 'avatars/avatar-predeterminado.png' %}" alt="Avatar de usuario predeterminado" />
                    {% endif %}
                </div>
                <div class="ms-3">
                    <div class="fw-bold">{{ respuesta.autor.username }}</div>
                    {{ respuesta.contenido }}
                    <small class="text-muted">Publicado el {{ respuesta.fecha }}</small>
                </div>
            </div>
            {% endfor %}

            <!-- Formulario de respuesta -->
            <form class="mb-4 ms-5 mt-4 text-md" method="POST">
                {% csrf_token %}
                <textarea class="form-control text-md" style="width: 50%" name="contenido" rows="3" placeholder="Responder a este comentario"></textarea>
                <input type="hidden" class="text-md" name="respuesta_a" value="{{ comentario_principal.id }}" />
                <button type="submit" class="btn btn-info text-md">Publicar respuesta</button>
            </form>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
