{% extends "AppComunidad/padrecomunidad.html" %}

{% load static %}

{% block titulo %} Agregar una plublicación al Blog {% endblock %}

<h1> En esta sección podras agregar una plublicación para comenzar a interactuar con la comunidad.</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Publicar">
</form>
<div class="contenidoJ">
    {% url 'contenido' as url %}
    <button type="button" oneclick="windows.location.href='{{ url }}'">Volver atras</button>
</div>

{% endblock %}