{% extends "AppComunidad/padrecomunidad.html" %} {% load static %} {% block titulo %} Editar Blog {% endblock %} {% block contenido_comunidad %}
<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
        <h1 class="fw-bolder">Editar una publicación en el Blog</h1>
        <p class="lead fw-normal text-muted mb-0">En esta sección puedes editar tu publicación en el blog.</p>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_titulo" class="form-label">Título</label>
                    <input type="text" id="id_titulo" name="titulo" class="form-control" placeholder="Ingresa el título del evento" value="{{ publicacion.titulo }}" required />
                </div>
                <div class="mb-3">
                    <label for="id_imagen" class="form-label">Imagen</label>
                    <input type="file" id="id_imagen" name="imagen" class="form-control" readonly />
                    <img class="img-fluid rounded" src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" style="max-width: 50%; height: auto; max-height: 150px" />
                </div>
                <div class="mb-3">
                    <label for="id_contenido" class="form-label">Contenido</label>
                    <textarea id="id_contenido" name="contenido" class="form-control" placeholder="Ingresa una descripción" style="height: 10rem" required>{{ publicacion.contenido }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="id_precio" class="form-label">Precio</label>
                    <input type="text" id="id_precio" name="precio" class="form-control" placeholder="Ingresa el precio" value="{{ publicacion.precio }}" required />
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Guardar Cambios</button>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
            <div class="contenidoJ">
                <button class="form-button btn btn-warning" onclick="window.location.href='{% url 'contenido' comunidad_id=publicacion.id %}'">Volver</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
