{% extends "AppComunidad/padrecomunidad.html" %}
{% load static %}

{% block titulo %} Eliminar Blog {% endblock %}

{% block contenido_comunidad %}
  <h2>¿Estás seguro de que deseas eliminar esta publicación?</h2>
  <p>Título: {{ comunidad.titulo }}</p>
  <p>Contenido: {{ comunidad.contenido }}</p>
  <p>Imagen:</p>

  <form method="POST">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit" name="eliminar">Eliminar</button>
  </form>

  <a href="{% url 'contenido' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}