{% extends 'AppComunidad/padrecomunidad.html' %}

{% block content %}

  <h1>Chat con {{ receptor.username }}</h1>
  <div class="messages">
    {% for mensaje in mensajes %}
      <div class="message {% if mensaje.emisor == user %}sent{% else %}received{% endif %}">
        <p>{{ mensaje.contenido }}</p>
        <p class="date">{{ mensaje.fecha_envio|date:"F j, Y, g:i a" }}</p>
      </div>
    {% endfor %}
  </div>

  <form method="post" action="{% url 'enviar_mensaje' usuario_id=receptor.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>
  
  <p><a href="{% url 'contenido' %}">Volver al blog</a></p>

{% endblock %}