{% extends "AppComunidad/padrecomunidad.html" %}

{% load static %}

{% block titulo %} Plataforma Usuarios {% endblock %}

{% block contenido_comunidad %}

    <h2>Mensajería Blog</h2><br>

    <div id="new-msg-container">
        <form id="msg-form" action="{% url 'chat' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">Enviar Mensaje</button>
        </form>
        <p>{{ mensaje }}</p>
    </div>

    <div id="all-msg-container">
        {% if mensajes_recibidos %}
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">De</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Fecha</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in mensajes_recibidos %}
                        <tr>
                            <td><a href="{% url 'vmsm' msg.id %}">{{ msg.enviado }}</a></td>
                            <td><a href="{% url 'vmsm' msg.id %}">{{ msg.contenido }}</a></td>
                            <td><a href="{% url 'vmsm' msg.id %}">{{ msg.fechaenvio }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tienes mensajes.</p>
        {% endif %}
    </div>
{% endblock }
