{% extends "AppComunidad/padrecomunidad.html" %}

{% load static %}

{% block titulo %} Ingreso de Credenciales {% endblock %}

{% block contenido_comunidad %}
    <form action="{% url 'loginusuario' %}" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        
        <input type="submit" value="INGRESAR">
        {% if form.errors %}
            <p class="error">Datos incorrectos</p>
        {% endif %}
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}