{% extends 'AppComunidad/padrecomunidad.html' %}

{% load static %}

{% block tituloPagina %}
    Mensaje - Librería Coder
{% endblock tituloPagina %}

{% block titulo %}  Detalle del Mensaje{% endblock titulo %}

{% block descripcion_titulo %} Detalles de un mensaje{% endblock descripcion_titulo %}

{% block contenido_comunidad %}

    <h2>Mensajería</h2><br>
    <div class="container mt-5">
        <div class="row justify-content-start text-left">
            <div id="msgCard" class="col-8 justify-content-start">
                <div><p><span class="font-weight-bold h3 text-white">Fecha: </span> {{ msg.date_sent }}</p></div>
                <div><p><span class="font-weight-bold h3 text-white">De: </span> {{ msg.sender }}</p></div>
                <div><p><span class="font-weight-bold h3 text-white">Mensaje: </span>{{ msg.content }}</p></div>
                <div class="container text-center">
                    <a href="{% url 'delete_message' msg.id %}"><button class="btn btn-danger m-1">Borrar</button></a>
                    <a href="{% url 'messages' %}"><button class="btn btn-success m-1">Volver</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido_comunidad %}

{% block descripcion_final %}
{% endblock descripcion_final %}
